html {
	color: white;
	font-family: 'Lato', sans-serif;
	background-color: black;
	background-repeat: no-repeat;
}

.container-fluid {

}

.argentphoto {
}

.bg-1 {

}

.bg-2 {

}

.list-group{
	margin-top: 0%;
    margin-bottom: 0%;
}

.github{
	    padding-top: 1%;
    padding-bottom: 1%;
	background: #4078c0;
}
.twitter{
	    padding-top: 1%;
    padding-bottom: 1%;
	background: #0077B5;
}

a:link, a:visited { 
    color: #000000;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: #000000;
}